{% load staticfiles %}
    <html>
        <head>
            <title>TAKA ZAU</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        </head>
        <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        
        {% endif %}
        <h1><a href="/">Damn girl, you're awesome!</a>
            <a href="{% url 'post_new' %}" class="top-menu" style="font-size:26pt;"><span class="glyphicon glyphicon-plus" style="line-height:36pt;"></span></a></h1>
            <!--img src="https://s-media-cache-ak0.pinimg.com/736x/37/de/ff/37deff563495e1e3bed9eef5d2d7f4c3.jpg" /-->
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
    </html>